<footer class="footer">
  <div class="container">
    <div>
      <div class="copyrights">
        <p>Evolved Educator, Inc ©2017 Chicago, IL</p>
      </div>
      <div class="feedback">
        <p>Feedback: <a href="mailto:hello@evolvededucator.com">Hello@EvolvedEducator.com</a></p>
      </div>
    </div>
  </div>
</footer>
