<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SmartPlanner</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right clearfix" ng-controller="authController">
                <li ng-if="!checkLogin()" ng-class="selectedclass"><a active-link="active"
                        href="#/register">Register</a></li>
                <li ng-if="!checkLogin()" ng-class="selectedclass"><a active-link="active" href="#/login">Sign In</a>
                </li>
                <li ng-if="checkLogin()"><a active-link="active" href="#/lession/list_lessons">All Lessons</a></li>
                <li><a href="#">Right Link 4</a></li>
                <li><a href="#">Right Link 5</a></li>
                <li><a href="#">Right Link 6</a></li>
                <li ng-if="checkLogin()" class="dropdown settingmain"><a href="#" class="dropdown-toggle"
                        data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu sett_submenu">
                        <li ng-if="checkLogin()" ng-class="selectedclass"><a active-link="active"
                                href="#/changepassword">Change Password</a></li>
                        <li ng-if="checkLogin()" ng-class="selectedclass"><a active-link="active"
                                href="#/profile">Profile</a></li>
                        <li ng-if="checkLogin()" ng-class="selectedclass"><a active-link="active"
                                ng-controller="paymentController" href="#/paymentlist">Payment</a></li>
                    </ul>
                </li>
                <li ng-if="checkLogin()"><a href="#/" ng-click="logout()">Logout</a></li>
                <li ng-if="checkLogin()" class="dropdown settingmain helpmain">
                    <a class="help" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">Help<span class="caret"></span></a>
                    <ul class="dropdown-menu sett_submenu">
                        <li ng-class="selectedclass"><a ng-controller="pageController" active-link="active"
                            href="#/privacy">Privacy Policy</a></li>
                        <li ng-class="selectedclass"><a active-link="active" href="#/copyright">Copyright Policy</a>
                        </li>
                        <li ng-class="selectedclass"><a active-link="active" href="#/faq">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>