<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><img src="public/app/build/images/home.png" style="width: 25px"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right clearfix" ng-controller="authController">
        <li ng-if="!checkLogin()"><a active-link="active" href="#/register"><img src="public/app/build/images/register.png" style="width: 25px"></a></li>
        <li ng-if="checkLogin()"><a active-link="active" href="/#/lession/list_lessons"><img src="public/app/build/images/folder.png" style="width: 25px"></a></li>
        <li ng-if="checkLogin()"><a active-link="active" href="#/profile"><img src="public/app/build/images/account.png" style="width: 25px"></a></li>
        <li ng-if="!checkLogin()"><a active-link="active" href="#/login"><img src="public/app/build/images/login.png" style="width: 25px"></a></li>
        <li ng-if="checkLogin()"><a href="#/" ng-click="logout()"><img src="public/app/build/images/logout.png" style="width: 25px"></a></li>
        <li role="separator" class="divider"></li>
        <li ng-if="checkLogin()" class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><img src="public/app/build/images/settings.png" style="width: 25px"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-if="checkLogin()" ng-class="selectedclass"><a active-link="active" href="#/changepassword">Change
                Password</a></li>
            <li ng-if="checkLogin()" ng-class="selectedclass"><a active-link="active" href="#/profile">Profile</a></li>
            <li ng-if="checkLogin()" ng-class="selectedclass"><a active-link="active" ng-controller="paymentController"
                href="#/paymentlist">Payment</a></li>
          </ul>
        </li>
        <!-- <li ng-if="checkLogin()"><a href="#/" ng-click="logout()">Logout</a></li> -->
        <li ng-if="!checkLogin() || checkLogin()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><img src="public/app/build/images/question.png" style="width: 23px"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-class="selectedclass"><a ng-controller="pageController" active-link="active" href="#/privacy">Privacy
                Policy</a></li>
            <li ng-class="selectedclass"><a active-link="active" href="#/copyright">Copyright Policy</a></li>
            <li ng-class="selectedclass"><a active-link="active" href="#/faq">FAQ</a></li>
          </ul>
        </li>
        <li role="separator" class="divider"></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>