<div ng-include="'public/app/templates/site/partials/header.html'"></div>
<section>
  <div class="container">
    <div ng-include="'public/app/templates/site/partials/message_display.html'"></div>
    <div class="landing-container">
      <div>
        <div class="logo">
          <img src="public/app/build/images/Evolved_Educator_Logo.png"
            alt="Company Logo"
            title="Evolved Educator"
            class="img-responsive center-block"
            style="width: 40%"
          />
        </div>
        <div class="smart-planner" ng-controller="homeController">
          <h1 style="color: #fb6542">SmartPlanner<sup>TM</sup></h1>
          <h3 ng-show="educationalquotes.quote_line1">{{educationalquotes.quote_line1}}</h3>
          <h4 ng-show="educationalquotes.quote_line2">{{educationalquotes.quote_line2}}</h4>
          <p>- {{educationalquotes.author}}</p>
          <div class="buttons" ng-controller="authController">
            <a ng-if="!checkLogin()" href="#/login" class="start-new-btn">Sign In</a>
            <h1 class="home-greeting-text" ng-if="checkLogin()"><a style="font-size: 36px; color: #375D97">Welcome to the Community!</a></h1>
            <a ng-if="checkLogin()" data-href="javascript:void(0)" ng-controller="lessionController"
              ng-click="newLesson()" class="start-new-btn">Start New</a>
            <!-- <a ng-if="!checkLogin()" href="#/login" class="start-new-btn">Edit Exisiting</a> -->
            <a ng-if="checkLogin()" href="#/lession/list_lessons" class="edit-exit-btn">Edit Exisiting</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div ng-include="'public/app/templates/site/partials/footer.html'"></div>