<section fxLayout="column row" fxLayoutAlign="center center" class="landing-container">
    <div fxFlex="500px" fxFlex.xs="100%" class="card-wrapper">
        <div class="logo">
            <img src="public/app/build/images/Evolved_Educator_Logo.png" alt="Company Logo" title="Evolved Educator"
                class="img-responsive center-block" style="width: 35%" />
        </div>
        <div align="center">
            <h1 class="landing-title">Smart Planner<sup>tm</sup></h1>
        </div>
        <div fxLayoutAlign="center center">
            <button type="submit" mat-raised-button color="primary"><a routerLink="/login">Sign In</a></button>
        </div>
    </div>
</section>