<uib-tabset active="active">
  <!-- Select tab Start -->
  <uib-tab index="0" heading="Learning Targets" ng-class>
    <div class="first-tab scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions">
    <form class="select-tab">
      <div class="form-group custom_checkbox" ng-repeat="n in lesson_data.keyconcept_details">        
        <input type="checkbox" ng-disabled="modi_re" id="accept_{{n.kc_id}}" value="{{n.kc_id}}" ng-model="key_concepts.selected" ng-click="getLearningTarget(n.kc_id,key_concepts.selected)" ng-checked="checkItem(n.kc_id)">
        <label data-toggle="collapse" data-target="#collapse{{n.kc_id}}" for="accept_{{n.kc_id}}"><span>{{n.keyconcept_name}}</span></label>        
        
        <div id="collapse{{n.kc_id}}" ng-class=" checkItem(n.kc_id) ? 'in' : 'out' " class="left-sub-concept collapse" >
            <div class="sub-concept-1" ng-repeat="target in n.target_list">
              <input type="checkbox" ng-disabled="modi_re" ng-model="user.selected" ng-click="toggleSelection(target.learningtargets_id,user.selected)" id="target_{{target.learningtargets_id}}" value="{{target.learningtargets_id}}" ng-checked="checkLearningItem(target.learningtargets_id)" >
              <label for="target_{{target.learningtargets_id}}" ><span> {{target.learningtargets_name}}</span></label>           
            </div>
        </div>
      </div>
    </form>
     </div>
  </uib-tab>
  <!-- Select tab END -->

  <!-- Result tab Start -->
  
  <uib-tab index="1" ng-click="loadKeyconcept()" disable="disabletab" heading="Framework">      
  <div class="second-tab scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions" >
      <div class="toolbar-box-result bg-color-1">
        
        <div class="result-title">
          <h2>Summary</h2>
          <span ng-hide="loadresult">
            <a ng-show="summary_flag" ng-if="checkurl()" href="javascript:void(0)" class="add-button disable-link">ADD</a>
            <a ng-show="summary_flag" ng-if="!checkurl()" href="javascript:void(0)" ng-click="addSummaryEditor()" class="add-button">ADD</a>
          </span>
        </div>
        <div ng-show="loadresult" class="group">
            <h4 class="empty_load"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h4>
        </div>
        <div ng-hide="loadresult" class="no_data">
            <div ng-hide="summary_flag"><h4>Content not available.</h4></div>
        </div>
        <div ng-hide="loadresult" class="group" ng-repeat="(key, value) in summaries | groupBy: 'kc_name'">
            <h4 class="kc_name">{{key}}</h4>
        <div ng-hide="{{summary.display}}" class="result-discription" ng-repeat="summary in value track by $index">
            <h4><i>{{summary.name}}</i></h4>
            <p>{{summary.desc| limitTo: 200 | htmlToPlaintext}}{{summary.desc.length > 200 ? '...' : ''}}</p>
        </div>
        </div>
      </div>

      <div class="toolbar-box-result bg-color-1">
                
        <div class="result-title">
          <h2>Standards</h2>
          <span ng-hide="loadresult">
            <a ng-show="standardarr_flag" ng-if="checkurl()" href="javascript:void(0)" class="add-button disable-link">ADD</a>
            <a ng-show="standardarr_flag" ng-if="!checkurl()" href="javascript:void(0)" class="add-button" ng-click="addStandardsEditor()">ADD</a>
          </span>
        </div>
        <div ng-show="loadresult" class="group">
            <h4 class="empty_load"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h4>
        </div>
        <div ng-hide="loadresult" class="no_data">
            <div ng-hide="standardarr_flag"><h4>Content not available.</h4></div>
        </div>
        <div ng-hide="loadresult" class="group" ng-repeat="(key, value) in standardarr | groupBy: 'kc_name'">
            <h4 class="kc_name">{{key}}</h4>
        <div ng-hide="{{standard.display}}" class="result-discription" ng-repeat="standard in value track by $index">
            <h4><i>{{standard.name}}</i></h4>
            <p>{{standard.desc| limitTo: 200 | htmlToPlaintext}}{{standard.desc.length > 200 ? '...' : ''}}</p>
        </div>
        </div>
      
      </div>

      <div class="toolbar-box-result bg-color-1">
        
        <div class="result-title">
          <h2>Essential Questions</h2>
          <span ng-hide="loadresult">
            <a ng-show="essential_questions_flag" ng-if="checkurl()" href="javascript:void(0)" class="add-button disable-link">ADD</a>
            <a ng-show="essential_questions_flag" ng-if="!checkurl()" href="javascript:void(0)" class="add-button" ng-click="addEssentialEditor()">ADD</a>
          </span>
        </div>
        <div ng-show="loadresult" class="group">
            <h4 class="empty_load"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h4>
        </div>
        <div ng-hide="loadresult" class="no_data">
            <div ng-hide="essential_questions_flag"><h4>Content not available.</h4></div>
        </div>
        <div ng-hide="loadresult" class="group" ng-repeat="(key, value) in essential_questions | groupBy: 'kc_name'">
            <h4 class="kc_name">{{key}}</h4>
            <div ng-hide="{{essential_question.display}}" class="result-discription" ng-repeat="essential_question in value">
                <h4><i>{{essential_question.name}}</i></h4>
                <p>{{essential_question.desc| limitTo: 200 | htmlToPlaintext}}{{essential_question.desc.length > 200 ? '...' : ''}}</p>
            </div>
        </div>
      </div>

      <div class="toolbar-box-result bg-color-1">
        <div class="result-title">
          <h2>Core Ideas</h2>
          <span ng-hide="loadresult">
            <a ng-show="core_ideas_flag" ng-if="checkurl()" href="javascript:void(0)" class="add-button disable-link">ADD</a>
            <a ng-show="core_ideas_flag" ng-if="!checkurl()" href="javascript:void(0)" class="add-button" ng-click="addCoreIdeasEditor()">ADD</a>
          </span>
        </div>
        <div ng-show="loadresult" class="group">
            <h4 class="empty_load"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h4>
        </div>
        <div ng-hide="loadresult" class="no_data">
            <div ng-hide="core_ideas_flag"><h4>Content not available.</h4></div>
        </div>
        <div ng-hide="loadresult" class="group" ng-repeat="(key, value) in core_ideas | groupBy: 'kc_name'">
            <h4 class="kc_name">{{key}}</h4>
            <div ng-hide="{{core_idea.display}}" class="result-discription" ng-repeat="core_idea in value">
                <h4 ><i>{{core_idea.name}}</i></h4>
                <p>{{core_idea.desc| limitTo: 200 | htmlToPlaintext}}{{core_idea.desc.length > 200 ? '...' : ''}}</p>
            </div>
        </div>

      </div>

      <div class="toolbar-box-result bg-color-1">
        
        <div class="result-title">
          <h2>Vocabulary</h2>
          <span ng-hide="loadresult">
            <a ng-show="vocabulary_flag" ng-if="checkurl()" href="javascript:void(0)" class="add-button disable-link">ADD</a>
            <a ng-show="vocabulary_flag" ng-if="!checkurl()" href="javascript:void(0)" class="add-button" ng-click="addVocabularyEditor()">ADD</a>
          </span>
        </div>
        <div ng-show="loadresult" class="group">
            <h4 class="empty_load"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h4>
        </div>
        <div ng-hide="loadresult" class="no_data">
            <div ng-hide="vocabulary_flag"><h4>Content not available.</h4></div>
        </div>
        <div ng-hide="loadresult" class="group" ng-repeat="(key, value) in vocabularies | groupBy: 'kc_name'">
            <h4 class="kc_name">{{key}}</h4>
        <div ng-hide="{{vocabulary.display}}" class="result-discription" ng-repeat="vocabulary in value track by $index">
            <h4><i>{{vocabulary.name}}</i></h4>
            <p>{{vocabulary.desc| limitTo: 200 | htmlToPlaintext}}{{vocabulary.desc.length > 200 ? '...' : ''}}</p>
        </div>
        </div>
      </div>
  </div>    
  </uib-tab>
  <!--  Result tab end -->
</uib-tabset>
<script type="text/javascript">
  /*$(document).on("click", '[data-toggle="collapse"]', function(e) { 
    //$($(this).data('target')).toggleClass('in');
    e.preventDefault();

    var expanded = $(this).attr('aria-expanded');

    var ids = $(this).attr('for');
    if(expanded == 'true'){ console.log(expanded);
       $("#"+ids).prop('checked',true);
    } else {
        $("#"+ids).prop('checked',false);
         // Code in the case checkbox is NOT checked.
    }
    
    // $(this).attr('for');
    //$($(this).data('target')).toggleClass('in');
});*/
</script>



<!-- <h4><strong>Please read these Terms of Service and before using this website and its services. By continuing to use EvolvedEducator.com, you agree to abide by the following terms.</strong></h4>

<p>This agreement is between Evolved Educator, Inc., an Illinois corporation, the owner of the site <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, and you, a person who desires to use <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;and its services. For ease of convenience, all of the websites, mobile applications, and other online services and products that link to or post<br />
these Terms of Service are collectively referred to as <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>.</p>

<p>By becoming a member (uploading information to register to become user of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;and its services), you accept the terms of this agreement. This is a legally binding agreement between you and Evolved Educator<sup>TM</sup>, so please read it carefully and consult your attorney or other relevant advisors if you do not understand any of the terms found here or in the Member Agreement.</p>

<p>Do not use <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;if you do not agree with these Terms. Evolved Educator<sup>TM</sup> notes that THESE TERMS CONTAIN DISCLAIMERS OF WARRANTIES, DISCLAIMERS OF LIABILITY, AND LIMITATIONS ON YOUR ABILITY TO BRING A CLAIM AND THE AMOUNT YOU MAY BE ABLE TO RECOVER.</p>

<center>
<h4><strong>Personal Information and Content</strong></h4>
</center>

<p>To use <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, you: (1) must be of legal age; (2) must provide us with accurate, complete and truthful contact information and responses to all questions included in our online registration materials; and (3) must accurately identify yourself. By accepting and entering into this agreement, you represent that you have the capacity to be legally bound by it.</p>

<p>You may not upload illegal, false, misleading, abusive, hateful, illegal, obscene, threatening, defamatory comments or any content that is invasive of privacy rights, infringing of copyright, trademark or other intellectual property rights, or otherwise injurious to Evolved Educator<sup>TM</sup> or third parties. You may not post or tranTMit any message, data, image or program that is indecent, obscene, pornographic, harassing, threatening, abusive, hateful, racially or ethnically offensive; that encourages conduct that would be considered a criminal offense, give rise to civil liability or violate any law; or that is otherwise inappropriate. By submitting content to <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, you agree to abide by the terms of this Terms of Agreement and any rules or policies established by Evolved Educator<sup>TM</sup>.</p>

<p>Evolved Educator<sup>TM</sup> reserves the right to immediately remove a portion or all of your information and/or submitted content that violates this Agreement.</p>

<p>Responsibility for the accuracy of information contained in your submissions of any sort lies with you. Likewise, you are solely and generally responsible for the material or content you post or provide to Evolved Educator<sup>TM</sup>. You warrant that you own or otherwise control all of the rights (including any copyright, trademark, trade secret, patent or other intellectual property rights) to the content that you submit.</p>

<p>You hereby authorize and permit Evolved Educator<sup>TM</sup> to use information submitted by you (such as account passwords and usernames) to configure our services, such as ensuring compatibility with third party sites. Moreover, by submitting content on the web site <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, you are representing that you have all necessary and relevant rights and are hereby granting Evolved Educator<sup>TM</sup> a perpetual, worldwide, non-exclusive, royalty-free, transferable license to use, reproduce, distribute, prepare derivative works of, modify, display, and perform all or any portion of the content in connection with <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;and/or Evolved Educator&rsquo;s business. You are also granting each user of&nbsp;<u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;a non-exclusive license to access your posted content through <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;on terms established solely by Evolved Educator<sup>TM</sup>, and to use, reproduce, distribute, prepare derivative works of, display and perform such content as permitted through the functionality of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;and under this Agreement.</p>

<p>Nothing will undermine another user&#39;s confidence in your offering faster than inaccurate statements, misleading representations, or poorly crafted content. And since any erosion of user confidence in you is likely to be accompanied by erosion of user confidence in us, we care deeply that the information you supply is accurate and that, in all respects, you treat other <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;users fairly and honorably.</p>

<p>Further, Evolved Educator<sup>TM</sup> does not endorse or vouch for the reliability of any user content or link that is published on <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>.&nbsp;Evolved Educator<sup>TM</sup> is not responsible for any content and has no duty to monitor the content posted on <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;or on a web site linked to <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, regardless of any actions Evolved Educator<sup>TM</sup> may take when operating or maintaining&nbsp;<u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>. Evolved Educator<sup>TM</sup> does not endorse, warrant or guarantee the products or services available through any third party and Evolved Educator<sup>TM</sup> is not an agent or broker or otherwise responsible for the activities or policies of those websites.</p>

<p><u>Use of information provided by any third party is done at your own risk.</u></p>

<center>
<h4><strong>Use of This Site</strong></h4>
</center>

<p>You may not use this site to promote, without our prior written permission, any other website, product or service. Except as expressly provided in this agreement, you may not distribute, tranTMit, display, reproduce, modify, create derivative works from, or otherwise exploit any of the materials on this site other than those uploaded by you. You may display and occasionally print a single copy of any page on the site for your personal, non-commercial use, but you may not otherwise reproduce any material appearing on this site without the prior written consent of Evolved Educator<sup>TM</sup>. You may not store any significant portion of, nor distribute copies of, materials found on this site, in any form (including electronic form), without prior written permission from the owner. Requests for permission to reproduce or distribute materials found on <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;should be sent to _____________.</p>

<p>You are solely responsible for all content submitted to <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;from your Evolved Educator<sup>TM</sup> or any other account used by you.</p>

<p>You may not use <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;to:</p>

<ul class="arrowlist">
	<li>Improperly access unauthorized materials or sources of information, whether they preside on the web or elsewhere;</li>
	<li>Circumvent, reverse engineer, disassemble, decrypt, or otherwise alter or interfere with (or attempt, encourage, or support anyone else&rsquo;s attempt to engage in such activities) any of the software comprising or in any way making up a part of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>. Attempts to compromise security is absolutely prohibited;</li>
	<li>Take any action that imposes an unreasonable or disproportionately large load on our infrastructure;</li>
	<li>Upload or otherwise attempt to tranTMit virus or other harmful item to Evolved Educator&rsquo;s or its users&rsquo; computers, devices or systems; or</li>
	<li>Perform any act that limits any person from using or enjoying <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, or that, in ?Evolved Educator&rsquo;s exclusive and unappealable judgment, exposes Evolved Educator<sup>TM</sup> or any other party to damage of any sort.</li>
</ul>

<p>Breach of this Agreement could result in actions ranging from suspension of access to your account to civil or criminal penalties.</p>

<center>
<h4><strong>Website Links</strong></h4>
</center>

<p>You are free to establish a hypertext link to <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;so long as the link does not state or imply any endorsement or sponsorship of you, your company, or your site by Evolved Educator<sup>TM</sup> or any of its affiliates.</p>

<p>Without the prior written permission of Evolved Educator<sup>TM</sup>, you may not frame any of Evolved Educator&rsquo;s content, nor incorporate into another website or other service, any intellectual property of Evolved Educator<sup>TM</sup> or its licensors.</p>

<center>
<h4><strong>Rights You Grant to Us</strong></h4>
</center>

<p>As the owner of any information, data, passwords, usernames, other login information, materials or other content (collectively, &ldquo;Account Content&rdquo;) you provide to Evolved Educator<sup>TM</sup> to use our services, you are licensing, for no charge or fee, such information and content to Evolved Educator<sup>TM</sup> for the purpose of participating in our services.<br />
Evolved Educator<sup>TM</sup> may use this content only to provide our service to you. By submitting this content, you represent that you are entitled to submit it through <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u> for use for this purpose and for no charges or fees.</p>

<p>You hereby authorize and permit Evolved Educator<sup>TM</sup> to use information submitted by you (such as account passwords and usernames) to configure our services, such as ensuring compatibility with third party sites.</p>

<center>
<h4><strong>Trademarks</strong></h4>
</center>

<p>The &ldquo;look and feel&rdquo; of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;and other materials (e.g.&nbsp;, photographs, editorial content, notices, software, etc.) are protected under United States and other applicable copyright, trademark and other laws. (The &ldquo;look and feel&rdquo; includes the following examples: the text, graphics, images, logos and button icons appearing on the website.) The contents of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;belong or are licensed to Evolved Educator<sup>TM</sup> or its software or content suppliers. Evolved Educator<sup>TM</sup> grants you the right to view and use <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;subject to these terms. You may download or print a copy of information provided on <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;for your personal, internal and non-commercial use only and not in any classroom or other educational or professional setting. Any distribution, reprint or electronic reproduction of any content from <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, in whole or in part, for any other purpose is expressly prohibited without Evolved Educator&rsquo;s prior written consent.</p>

<center>
<h4><strong>Content Guidelines</strong></h4>
</center>

<p>By submitting your information or other content to Evolved Educator<sup>TM</sup>, you represent and warrant that your submission does not contain any computer viruses, worms, or other damaging computer files or code. By accessing this website, you agree that you not will not use any automated mechaniTM (such as web robots, crawlers, or spiders) to query or otherwise collect information or scrape data from <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;or any other service or website owned or operated by Evolved Educator<sup>TM</sup> except in strict conformance with the Robots Exclusion Protocol.</p>

<center>
<h4><strong>Indemnification</strong></h4>
</center>

<p>You will indemnify and hold harmless Evolved Educator<sup>TM</sup>, its affiliates and service providers (and all of their respective officers, directors, employees and representatives) from all claims, demands, damages and costs (including attorneys&#39; fees) resulting from content you submit.</p>

<center>
<h4><strong>Alerts and Updates</strong></h4>
</center>

<p>Evolved Educator<sup>TM</sup> may from time to time provide automatic alerts and voluntary account-related alerts. Automatic alerts may be sent to you following certain types of changes made online to your Evolved Educator<sup>TM</sup> account, such as a change in your registration information or the registration process. You do not need to activate these alerts. Evolved Educator<sup>TM</sup> recommends that you review all security-related, account-related, registration-related, and similar alerts to ensure your continued access to and enjoyment of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u></p>

<p>Evolved Educator<sup>TM</sup> may add new or cease to send alerts at any time upon its sole discretion. Each alert may have different options available&mdash;please read them carefully.</p>

<p>Any such electronic alerts will be sent to the email address you have provided as your primary email address to Evolved Educator<sup>TM</sup>. If your email address changes, you are solely responsible for alerting Evolved Educator<sup>TM</sup> and making the requisite changes at <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>. Changes to your email address will apply<br />
to all of your alerts. Alerts may include your login ID and some information about your account. Anyone with access to your email will be able to view the content of these alerts. You may disable future alerts at any time.</p>

<p>You understand and agree that any alerts provided to you may be delayed or prevented various factors. Evolved Educator<sup>TM</sup> does its best to provide timely alerts manner with accurate information. Evolved Educator<sup>TM</sup> does not guarantee the delivery or the accuracy of the content of any alert. You expressly agree that Evolved Educator<sup>TM</sup> shall not be liable for any delays, delivery failures, or misdirected deliveries of any alert, for any errors in the content of an alert, or for any actions taken or not taken by you or any third party in reliance on an alert.</p>

<center>
<h4><strong>Limitation of Liability</strong></h4>
</center>

<p>UNDER NO CIRCUMSTANCES WILL EVOLVED EDUCATOR<sup>TM</sup> OR ITS AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES OTHER THAN DIRECT DAMAGES, ARISING OUT OF YOUR USE OF THIS WEBSITE OR ANY PRODUCT OR SERVICE LINKED TO OR ADVERTISED OR PROMOTED ON THIS WEBSITE INCLUDING, WITHOUT LIMITATION, CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY, OR OTHER DAMAGES OF ANY KIND (INCLUDING LOST REVENUES OR PROFITS, LOSS OF BUSINESS OR LOSS OF DATA), EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE THAT THE LIABILITY OF EVOLVED EDUCATOR<sup>TM</sup> AND ITS AFFILIATES, AGENTS AND LICENSORS, IF ANY, ARISING OUT OF ANY KIND OF LEGAL CLAIM RELATED TO YOUR USE OF THIS WEBSITE WILL NOT EXCEED THE AMOUNT PAID BY YOU FOR THE USE OF THE WEBSITE OR $1,000, WHICHEVER IS GREATER.</p>

<p>BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THESE LIMITATIONS MAY NOT APPLY TO YOU. YOU AGREE TO INDEMNIFY AND HOLD HARMLESS EVOLVED EDUCATOR<sup>TM</sup>, ITS EMPLOYEES, OWNERS, REPRESENTATIVES, AND LICENSEES AGAINST ANY AND ALL CLAIMS THAT ARISE OUT OF ANY LISTING YOU PLACE ON THE SITE.</p>

<center>
<h4><strong>Privacy and Intellectual Property</strong></h4>
</center>

<p>Evolved Educator<sup>TM</sup> respects your privacy and takes privacy related issues very seriously. Please take a moment to review our Privacy Policy.</p>

<p>We invite you to bring to our attention any material on <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>&nbsp;that you believe to be inaccurate. Please forward a copy of the material to <u><a href="mailto:Michelle@EvolvedEducator.com?subject=Evolved%20Educator">Michelle@EvolvedEducator.com</a></u>, along with an explanation of your objection.</p>

<p>If you are an owner of intellectual property who believes your intellectual property has been improperly posted or distributed via this website, please notify us by sending an email to <u><a href="mailto:Michelle@EvolvedEducator.com?subject=Evolved%20Educator">Michelle@EvolvedEducator.com</a></u>&nbsp;or by sending a notice by U.S. Mail to: EVOLVED EDUCATOR, INC., 1812 Sherwood Rd Highland Park, IL 60035.</p>

<center>
<h4><strong>Amendments to Agreement</strong></h4>
</center>

<p>The web is an evolving medium and we may change the terms of this agreement from time to time. By continuing to use this website following our posting of such changes, you agree to be bound by this agreement, as modified. Evolved Educator<sup>TM</sup> may change, restrict access to, suspend, or discontinue this website, or any portion of this website, at any time.</p>

<center>
<h4><strong>Registration Information</strong></h4>
</center>

<p>To obtain user access to <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>, you will be given an opportunity to register by creating a unique user name, password, and/or other information. You agree that the information you supply during that registration process will be accurate and complete and that you will not register under the name of another person. Evolved<sup>TM</sup> reserves the right to disallow use of any username that we deem offensive or inappropriate.</p>

<p><u>You will be responsible for preserving the confidentiality of your password and for all actions of persons accessing <a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a>&nbsp;through any username/password assigned to you</u>.&nbsp;You will promptly notify Evolved Educator<sup>TM</sup> of any known or suspected unauthorized use of your account, which also your sole responsibility. It is your responsibility to update or change your email address or username if need be.</p>

<p>We retain the right to deny access to anyone who we believe has violated these terms of service.</p>

<center>
<h4><strong>Governing Law; Venue for Disputes; Miscellaneous</strong></h4>
</center>

<p>This Agreement, and your relationship with Evolved Educator<sup>TM</sup> under this Agreement, is governed by the laws of the State of Illinois. Any dispute with Evolved Educator<sup>TM</sup>, or its affiliates, officers, directors, shareholders, employees, agents, consultants and advisers, arising under or in relation to this Agreement shall be resolved exclusively within Illinois, except with respect to imminent harm requiring temporary or preliminary injunctive relief in which case Evolved Educator<sup>TM</sup> may seek such relief in any court with jurisdiction over the parties. You understand that, in return for agreement to this provision, Evolved Educator<sup>TM</sup> is able to offer its services at the terms designated, without charge to you, and that your assent to this provision is an integral part of the willingness of Evolved Educator<sup>TM</sup> to enter into this Agreement.</p>

<p>This Agreement will continue to apply until terminated by either you or Evolved Educator<sup>TM</sup>. You may terminate your legal agreement with Evolved Educator<sup>TM</sup> by closing your account registered with <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>. Evolved Educator<sup>TM</sup> may at any time, in its sole discretion, terminate its legal agreement with you immediately upon notice to the email address provided by you as part of your member registration.</p>

<p>If any portion of this Agreement is deemed unlawful, void or unenforceable by any arbitrator or court of competent jurisdiction, this Agreement as a whole shall not be deemed unlawful, void or unenforceable, but only that portion of this Agreement that is unlawful, void or unenforceable shall be stricken from this Agreement. You agree that if Evolved Educator<sup>TM</sup> does not exercise or enforce any legal right or remedy which is contained in the Agreement (or which Evolved Educator<sup>TM</sup> has the benefit of under any applicable law), such failure to exercise such right or remedy may not be construed as a waiver of any other rights and remedies of Evolved Educator<sup>TM</sup>.</p>

<p>Your access and use of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u> may be interrupted from time to time for a variety of reasons. Possible reasons include, but are not limited to, equipment issues, periodic updating, maintenance or repair of <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u>. It is impossible for Evolved Educator<sup>TM</sup> to foresee or anticipate every potential technical or other difficulty that may result in personalized settings, failure to obtain data or loss of data, or other issues. Evolved Educator<sup>TM</sup> does not, and cannot, assume responsibility for the timeliness, accuracy, deletion, non-delivery or failure to store any user data, communications or personalized settings by you.</p>

<p>Evolved Educator<sup>TM</sup> does not intend to provide legal, tax, financial, or medical advice. Evolved Educator<sup>TM</sup> does not provide any technical advice beyond what is expressly provided on <u><a href="http://evolvededucator.com" target="_blank">www.evolvededucator.com</a></u> or other communication.</p>

<p>EvolvedEducator<sup>TM</sup> is a privately owned Illinois corporation.</p>

<p>All covenants, agreements, representations and warranties made in this Agreement shall survive your acceptance of this Agreement and the termination of this Agreement.</p>

<p>This Member Agreement (including the Privacy Policy incorporated by reference to this Agreement) represents the entire understanding and agreement between you and Evolved Educator<sup>TM</sup> regarding the subject matter of the same, and supersedes all other previous agreements unless otherwise noted herein.</p>

<p>Evolved Educator<sup>TM</sup> encourages you to print or save a copy of this Agreement and the Privacy Policy for your records if you wish to do so.</p> -->
