<div ng-include="'public/app/templates/site/partials/header.html'"></div>
<section>
    <div class="container jumbotron" ng-controller="paymentController">
        <div ng-include="'public/app/templates/site/partials/message_display.html'"></div>
        <div ng-init="getPlanDetails()">

            <form class="form-horizontal" novalidate>
                <!--<div ng-init="getPlanDetails()">-->
                <fieldset class="form-horizontal">
                    <legend>Plan Details</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="plan_name">Select Plan</label>
                        <div class="col-sm-3">
                            <select class="form-control col-sm-2" id="selected_plan" name="selected_plan"
                                ng-options="plan.id as plan.name for plan in plan_list" ng-change="plan_change()"
                                ng-model="selected_plan">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="col-sm-3 control-label" for="plan_name">Plan Name</label>
                        <div class="col-sm-3">
                            <p>{{plan_name}}</p>
                            <input type="hidden" class="form-control" ng-model="plan_id" name="plan_id" id="plan_id">
                            <input type="hidden" class="form-control" ng-model="plan_key" name="plan_key" id="plan_key">
                            <input type="hidden" class="form-control" ng-model="email" name="email" id="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="price">Price</label>
                        <div class="col-sm-3">
                            <p>{{price}} USD</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="duration">Duration</label>
                        <div class="col-sm-3">
                            <p>{{duration}} Months</p>
                        </div>
                    </div>
                </fieldset>
            </form>

            <fieldset class="payment-fields ">
                <legend>Payment</legend>
                <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
                <!-- <button
                    style="background-color:#375E97;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-plan_F4C0MUbwIPbC8j" role="link">
                    Add subscription to cart and checkout
                </button> -->
                <button id="customButton">Purchase</button>

                <!-- <div id="error-message"></div> -->
            </fieldset>

            <script>
                var handler = StripeCheckout.configure({
                    key: 'pk_test_uViZbYAtpXAHz9Gn96famHmH00h1j8km9Z',
                    image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                    billingAddress: true,
                    zipCode: true,
                    locale: 'auto',
                    token: function (token) {
                        // You can access the token ID with `token.id`.
                        // Get the token ID to your server-side code for use.
                        console.log("TOKEN ID: ", token.id)
                        console.log("TOKEN EMAIL: ", token.email)
                    }
                });

                document.getElementById('customButton').addEventListener('click', function (e) {
                    // Open Checkout with further options:
                    handler.open({
                        name: 'Evolved Educator',
                        description: 'Annual Subscription',
                        amount: 5000,
                    });
                    e.preventDefault();
                });

                // Close Checkout on page navigation:
                window.addEventListener('popstate', function () {
                    handler.close();
                });
            </script>
            <div ng-include="'public/app/templates/site/partials/footer.html'"></div>